{{template "header"}}
<title>文章 my-beego 博客</title>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {{template "navdiv" .}}
    </div>
    <div class="container">
        <h1>文章列表</h1>
        <a href="/topic/add" class="btn btn-default">添加文章</a><!-- 跳转到/topic/add，因为main里边用了一个自动路由，因此会执行Add方法-->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>文章名称</th>
                <th>最后更新</th>
                <th>浏览</th>
                <th>回复数</th>
            </tr>
            </thead>
            <tbody>
            {{range .Topics}}
            <tr>
                <th>{{.Id}}</th>
                <th>{{.Title}}</th>
                <th>{{.Updated}}</th>
                <th>{{.Views}}</th>
                <th>{{.ReplayCount}}</th>
            </tr>
            {{end}}

            </tbody>
        </table>
    </div>>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstap.min.js"></script>
</div>
</body>
</html>

